@mixin cinnabar {
  color: red;
  font-weight: bold;
}

:host {
  display: flex;
  overflow: auto;
}

.character {
  display: inline-block;

  min-width: 9rem;

  padding-right: 0.5rem;

  white-space: nowrap;

  @include cinnabar;
}

.replica {
  &,
  &::ng-deep > span {
    display: inline-block;
  }

  &::ng-deep > span + span {
    margin-left: 0.5rem;
  }

  &::first-letter,
  & > ::ng-deep::first-letter {
    color: red;
    font-weight: bold;
  }
}
