<h4>Блаже́н муж:</h4>
<h5>Первый антифон: Глас {{ firstAntiphoneEcho | echo }}</h5>
<app-replica character="choir">
  <p>Блажен муж, иже не иде на совет нечестивых и на пути грешных не ста, и на седалищи губителей не седе, Аллилуия.</p>
  <p>но в законе Господни воля eго, и в законе Его поучится день и нощь. Аллилуия.</p>
  <p>И будет яко древо насажденное при исходищих вод, еже плод свой даст во время свое, и лист eго не отпадет, и вся, елика аще творит, успеет. Аллилуия.</p>
  <p>Не тако нечестивии, не тако, но яко прах, eгоже возметает ветр от лица земли. Аллилуия.</p>
  <p>Сего ради не воскреснут нечестивии на суд, ниже грешницы в совет праведных. Аллилуия.</p>
  <p>Яко весть Господь путь праведных, и путь нечестивых погибнет. Аллилуия.</p>

  <p>Вскую шаташася языцы, и людие поучишася тщетным? Аллилуия.</p>
  <p>Предсташа царие земстии, и князи собрашася вкупе на Господа и на Христа Его. Аллилуия.</p>
  <p>Расторгнем узы их и отвержем от нас иго их. Аллилуия.</p>
  <p>Живый на Небесех посмеется им, и Господь поругается им. Аллилуия.</p>
  <p>Тогда возглаголет к ним гневом своим и яростию Своею смятет я. Аллилуия.</p>
  <p>Аз же поставлен есмь Царь от Него над Сионом, горою святою Его, Аллилуия.</p>
  <p>возвещаяй повеление Господне. Господь рече ко Мне: Сын Мой еси Ты, Аз днесь родих Тя. Аллилуия.</p>
  <p>Проси от Мене, и дам Ти языки достояние Твое, и одержание Твое концы земли. Аллилуия.</p>
  <p>Упасеши я жезлом железным, яко сосуды скудельничи сокрушиши я. Аллилуия.</p>
  <p>И ныне, царие, разумейте, накажитеся вси судящии земли. Аллилуия.</p>
  <p>Работайте Господеви со страхом и радуйтеся Ему с трепетом. Аллилуия.</p>
  <p>Приимите наказание, да не когда прогневается Господь и погибнете от пути праведнаго, егда возгорится вскоре ярость Его. Блажени вси надеющиися Нань. Аллилуия.</p>
  
  <p>Господи, что ся умножиша стужающии ми? Мнози востают на мя, Аллилуия.</p>
  <p>мнози глаголют души моей: несть спасения eму в Бозе eго. Аллилуия.</p>
  <p>Ты же, Господи, Заступник мой еси, слава моя и возносяй главу мою. Аллилуия.</p>
  <p>Гласом моим ко Господу воззвах, и услыша мя от горы святыя Своея. Аллилуия.</p>
  <p>Аз уснух, и спах, востах, яко Господь заступит мя. Аллилуия.</p>
  <p>Не убоюся от тем людей, окрест нападающих на мя. Аллилуия.</p>
  <p>Воскресни, Господи, спаси мя, Боже мой, яко Ты поразил еси вся враждующыя ми всуе: зубы грешников сокрушил еси. Аллилуия.</p>
  <p>Господне есть спасение, и на людех Твоих благословение Твое. Аллилуия.</p>

  <p>Сла́ва Отцу́ и Сы́ну и Свято́му Духу. Аллилуия.</p>
  <p>И ны́не и при́сно и во ве́ки веко́в. <span>Ами́нь.</span> Аллилуия.</p>
  <p>
    Аллилу́иа, аллилу́иа, аллилу́иа, сла́ва Тебе́ Бо́же.
    <b>(Три́жды)</b>
  </p>
</app-replica>

<app-little-ektenia>
  Я́ко Твоя́ держа́ва, и Твое́ есть Ца́рство, и си́ла, и сла́ва, Отца́ и Сы́на и Свята́го Ду́ха, ны́не и при́сно и во ве́ки веко́в.
</app-little-ektenia>


<ng-container *ngIf="isSunday">
  <h5>Второй антифон: Глас {{ echo | echo }}</h5>
  <app-replica character="choir">
    <p>Внегда призвати ми, услыша мя Бог правды моея, в скорби распространил мя еси, ущедри мя и услыши молитву мою...</p>
    <p>Глаголы моя внуши, Господи, разумей звание мое...</p>
    <p>Господи, да не яростию Твоею обличиши мене, ниже гневом Твоим накажеши мене...</p>

    <p>Сла́ва Отцу́ и Сы́ну и Свято́му Духу. Аллилуия.</p>
    <p>И ны́не и при́сно и во ве́ки веко́в. <span>Ами́нь.</span> Аллилуия.</p>
    <p>
      Аллилу́иа, аллилу́иа, аллилу́иа, сла́ва Тебе́ Бо́же.
      <b>(Три́жды)</b>
    </p>
  </app-replica>

  <app-little-ektenia>
    Яко Благ и Человеколюбец Бог еси, и Тебе славу возсылаем, Отцу и Сыну и Святому Духу, ныне и присно и во веки веков.
  </app-little-ektenia>

  <h5>Третий антифон: Глас {{ echo | echo }}</h5>
  <app-replica character="choir">
    <p>Господи Боже мой, на Тя уповах, спаси мя от всех гонящих мя и избави мя...</p>
    <p>Господи, Господь наш, яко чудно имя Твое по всей земли, яко взятся великолепие Твое превыше небес...</p>

    <p>Сла́ва Отцу́ и Сы́ну и Свято́му Духу. Аллилуия.</p>
    <p>И ны́не и при́сно и во ве́ки веко́в. <span>Ами́нь.</span> Аллилуия.</p>
    <p>
      Аллилу́иа, аллилу́иа, аллилу́иа, сла́ва Тебе́ Бо́же.
      <b>(Три́жды)</b>
    </p>
  </app-replica>

  <app-little-ektenia>
    Яко Ты еси Бог наш, Бог миловати и спасати, и Тебе славу возсылаем, Отцу, и Сыну, и святому Духу, ныне и присно, и во веки веков.
  </app-little-ektenia>
</ng-container>
