<h1>30 января́ 2022 г. Неде́ля 32 по Пятидеся́тнице. Прп. Анто́ния Вели́кого. Глас 7.</h1>

<h2>Всено́щное бде́ние</h2>

<h3>Вели́кая вече́рня</h3>

<app-replica character="deacon">Воста́ните!</app-replica>
<app-replica character="choir">Благослови́.</app-replica>
<app-replica character="priest">
  Сла́ва Святе́й, и Единосу́щней, и Животворя́щей, и Неразде́льней Тро́ице всегда́, ны́не и при́сно, и во ве́ки веко́в.
</app-replica>
<app-replica character="choir">Ами́нь.</app-replica>
<app-replica character="clergy">
  <p>Прииди́те, поклони́мся Царе́ви на́шему Бо́гу.</p>
  <p>Прииди́те, поклони́мся и припаде́м Христу́ Царе́ви на́шему Бо́гу.</p>
  <p>Прииди́те, поклони́мся и припаде́м Самому́ Христу́, Царе́ви и Бо́гу на́шему.</p>
  <p>Прииди́те, поклони́мся и припаде́м Ему́.</p>
</app-replica>

<h4>Псало́м 103, предначина́тельный:</h4>
<app-replica character="choir">
  <p>
    Благослови́, душе́ моя́, Го́спода./ Благослове́н еси́, Го́споди./ Го́споди, Бо́же мой, возвели́чился еси́ зело́./ Благослове́н еси́, Го́споди./ Вся
    прему́дростию сотвори́л еси́./ Сла́ва Ти, Го́споди, сотвори́вшему вся.
  </p>
  <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
  <p>
    Аллилу́иа, аллилу́иа, аллилу́иа, сла́ва Тебе́ Бо́же.
    <b>(Три́жды)</b>
  </p>
</app-replica>

<h4>Вели́кая ектения́:</h4>
<app-replica character="deacon">Ми́ром Го́споду помо́лимся.</app-replica>
<app-replica character="choir">Го́споди, поми́луй.</app-replica>
<app-replica character="deacon">
  <p>О Свы́шнем ми́ре и спасе́нии душ на́ших, Го́споду помо́лимся.</p>
  <p>О ми́ре всего́ ми́ра, благостоя́нии Святы́х Бо́жиих Церкве́й и соедине́нии всех, Го́споду помо́лимся.</p>
  <p>О святе́м хра́ме сем и с ве́рою, благогове́нием и стра́хом Бо́жиим входя́щих во_нь, Го́споду помо́лимся.</p>
  <p>
    О вели́ком Господи́не и Отце́ на́шем Святе́йшем Патриа́рхе {{ patriarchName }}, и о Господи́не на́шем, {{ bishopric }} {{ bishopName }}, честне́м
    пресви́терстве, вo Христе́ диа́констве, о всем при́чте и лю́дех, Го́споду помо́лимся.
  </p>
  <p>О Богохрани́мей стране́ на́шей, власте́х и во́инстве ея, Го́споду помо́лимся.</p>
  <p>О {{ locality }}, вся́ком гра́де, стране́ и ве́рою живу́щих в них, Го́споду помо́лимся.</p>
  <p>О благорастворе́нии возду́хов, о изоби́лии плодо́в земны́х и вре́менех ми́рных, Го́споду помо́лимся.</p>
  <p>О пла́вающих, путеше́ствующих, неду́гующих, стра́ждущих, плене́нных и о спасе́нии их. Го́споду помо́лимся.</p>
  <p>О изба́витися нам от вся́кия ско́рби, гне́ва и ну́жды, Го́споду помо́лимся.</p>
  <p>Заступи́, спаси́, поми́луй и сохрани́ нас, Бо́же, Твое́ю благода́тию.</p>
  <p>
    Пресвяту́ю, Пречи́стую, Преблагослове́нную, Сла́вную Влады́чицу на́шу Богоро́дицу и Присноде́ву Мари́ю, со все́ми святы́ми помяну́вше, са́ми себе́ и
    друг дру́га, и весь живо́т наш Христу́ Бо́гу предади́м.
  </p>
</app-replica>
<app-replica character="choir">Тебе́, Го́споди.</app-replica>
<app-replica character="priest">
  Я́ко подоба́ет Тебе́ вся́кая сла́ва честь и поклоне́ние, Отцу́ и Сы́ну и Свято́му Ду́ху, ны́не и при́сно и во ве́ки веко́в.
</app-replica>
<app-replica character="choir">Ами́нь.</app-replica>

<h4>Блаже́н муж:</h4>
<app-replica character="choir">
  <p>Блаже́н муж, и́же не и́де на сове́т нечести́вых.</p>
  <p>Аллилу́иа, аллилу́иа, аллилу́иа.</p>
  <p>Я́ко весть Госпо́дь путь пра́ведных, и путь нечести́вых поги́бнет.</p>
  <p>Аллилу́иа, аллилу́иа, аллилу́иа.</p>
  <p>Рабо́тайте Го́сподеви со стра́хом и ра́дуйтеся Ему́ с тре́петом.</p>
  <p>Аллилу́иа, аллилу́иа, аллилу́иа.</p>
  <p>Блаже́ни вси наде́ющиися Нань.</p>
  <p>Аллилу́иа, аллилу́иа, аллилу́иа.</p>
  <p>Воскресни́, Го́споди, спаси́ мя, Бо́же мой.</p>
  <p>Аллилу́иа, аллилу́иа, аллилу́иа.</p>
  <p>Госпо́дне есть спасе́ние, и на лю́дех Твои́х благослове́ние Твое́.</p>
  <p>Аллилу́иа, аллилу́иа, аллилу́иа.</p>
  <p>Сла́ва Отцу́ и Сы́ну и Свято́му Духу.</p>
  <p>Аллилу́иа, аллилу́иа, аллилу́иа.</p>
  <p>И ны́не и при́сно и во ве́ки веко́в. <span>Ами́нь.</span></p>
  <p>
    Аллилу́иа, аллилу́иа, аллилу́иа, сла́ва Тебе́ Бо́же.
    <b>(Три́жды)</b>
  </p>
</app-replica>

<h4>Ектения́ ма́лая:</h4>
<app-replica character="deacon">Па́ки и па́ки ми́ром Го́споду помо́лимся.</app-replica>
<app-replica character="choir">Го́споди, поми́луй.</app-replica>
<app-replica character="deacon">Заступи́, спаси́, поми́луй и сохрани́ нас, Бо́же, Твое́ю благода́тию.</app-replica>
<app-replica character="choir">Го́споди, поми́луй.</app-replica>
<app-replica character="deacon">
  Пресвяту́ю, Пречи́стую, Преблагослове́нную, Сла́вную Влады́чицу на́шу Богоро́дицу и Присноде́ву Мари́ю, со все́ми святы́ми помяну́вше, са́ми себе́ и
  друг дру́га, и весь живо́т наш Христу́ Бо́гу предади́м.
</app-replica>
<app-replica character="choir">Тебе́, Го́споди.</app-replica>
<app-replica character="priest">
  Я́ко Твоя́ держа́ва, и Твое́ есть Ца́рство, и си́ла, и сла́ва, Отца́ и Сы́на и Свята́го Ду́ха, ны́не и при́сно и во ве́ки веко́в.
</app-replica>
<app-replica character="choir">Ами́нь.</app-replica>

<app-sticheron></app-sticheron>