:host::ng-deep {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    color: red;
  }

  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 1.1em;
  }

  h3,
  h4 {
    font-weight: normal;
  }

  b {
    color: red;
    font-size: 0.8em;
    font-style: italic;
  }
}
