<!-- TODO: Нужно написать datepicker для старого стиля
Дата по новому стилю
<input type="date" [formControl]="date" />

<ng-container *ngIf="worship$ | async as worship">
  <app-vespers [features]="worship['вечерня']" [echo]="worship['глас']"></app-vespers>
</ng-container>
 -->

<h4>23 ию́ля (10 ию́ля ст.ст.) 2023 го́да. Неде́ля 7 по Пятидеся́тнице.</h4>
<h4>Положе́ние честно́й ри́зы Го́спода на́шего Иису́са Христа́ в Москве́. Глас 6.</h4>
<h1>ВСЕНО́ЩНОЕ БДЕ́НИЕ</h1>
<h2>Вели́кая вече́рня</h2>

<app-replica character="deacon">Воста́ните!</app-replica>
<app-replica character="choir">Благослови́.</app-replica>
<app-replica character="priest">
  Сла́ва Святе́й, и Единосу́щней, и Животворя́щей, и Неразде́льней Тро́ице всегда́, ны́не и при́сно, и во ве́ки веко́в.
</app-replica>
<app-replica character="choir">Ами́нь.</app-replica>
<app-replica character="clergy">
  <div>Прииди́те, поклони́мся Царе́ви на́шему Бо́гу.</div>
  <div>Прииди́те, поклони́мся и припаде́м Христу́ Царе́ви на́шему Бо́гу.</div>
  <div>Прииди́те, поклони́мся и припаде́м Самому́ Христу́, Царе́ви и Бо́гу на́шему.</div>
  <div>Прииди́те, поклони́мся и припаде́м Ему́.</div>
</app-replica>

<h2>Псало́м 103, предначина́тельный:</h2>

<app-replica character="choir">
  <div>
    Благослови́, душе́ моя́, Го́спода./ Благослове́н еси́, Го́споди./ Го́споди, Бо́же мой, возвели́чился еси́ зело́./
    Благослове́н еси́, Го́споди./ Вся прему́дростию сотвори́л еси́./ Сла́ва Ти, Го́споди, сотвори́вшему вся.
  </div>
  <span>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в.</span><span>Ами́нь.</span>
  <div class="x3">Аллилу́иа, аллилу́иа, аллилу́иа, сла́ва Тебе́ Бо́же.</div>
</app-replica>

<app-ektenia [type]="'великая'" />
