<h4>Ектения́ ма́лая:</h4>
<app-replica character="deacon">Па́ки и па́ки ми́ром Го́споду помо́лимся.</app-replica>
<app-replica character="choir">Го́споди, поми́луй.</app-replica>
<app-replica character="deacon">Заступи́, спаси́, поми́луй и сохрани́ нас, Бо́же, Твое́ю благода́тию.</app-replica>
<app-replica character="choir">Го́споди, поми́луй.</app-replica>
<app-replica character="deacon">
  Пресвяту́ю, Пречи́стую, Преблагослове́нную, Сла́вную Влады́чицу на́шу Богоро́дицу и Присноде́ву Мари́ю, со все́ми
  святы́ми помяну́вше, са́ми себе́ и
  друг дру́га, и весь живо́т наш Христу́ Бо́гу предади́м.
</app-replica>
<app-replica character="choir">Тебе́, Го́споди.</app-replica>
<app-replica character="priest">
  <ng-content></ng-content>
</app-replica>
<app-replica character="choir">Ами́нь.</app-replica>